:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --brand: #001B4E;
  --secondary: #D9D9D9;
  --base: #FFF;
  --text: #252525;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0px;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0px,
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  color: var(--brand);
}

p {
  font-family: Calibri;
  color: var(--text)
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #0054F8;
  color: white;
  padding: 10px 60px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: Montserrat;
  border-radius: 5px;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  opacity: 0.6;
}

.secondary {
  background-color: #7C7C7C;
  color: white;
  padding: 10px 60px;
  border-radius: 5px;
}

.secondary::hover {
  opacity: 0.6;
}

.link {
  color: 'white' !important;
  cursor: pointer;
}

.link:hover {
  opacity: 0.5;
}

.active {
  color: blue !important;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
